#mainmenu, #mainmenu ul {list-style: none; margin: 0; padding: 0;}
#mainmenu ul {width: 160px;}
#mainmenu ul li {clear: both;}
#mainmenu > li {margin-right: 10px; position: relative;}
#mainmenu > li li {position: relative;}
#mainmenu > li ul {position: absolute; left:0;margin-top:8%;}
#mainmenu > li ul li ul {position: absolute; left: 160px; top: 0px;}
ul ul {display: none;}
ul li:hover > ul {display: block;}

/*POZIOM 1*/
#mainmenu {margin: 15px 0 15px 0% ;text-align:center;}
#mainmenu > li > a {display: table; width: auto; padding: 15px; border-radius: 6px; text-align: center; text-decoration: none; color: #84c5f7;}
#mainmenu > li:hover > a {background: #eee; color: red;margin-top:-25px;}

/*POZIOMY NIŻSZE*/
#mainmenu ul {font-size: 12px; border-radius: 3px; background: #F6F6F6;}
#mainmenu ul li > a {color: #999; display: block; padding: 10px; border-radius: 4px; text-decoration: none;text-align:left;margin-top:-5px;}
#mainmenu ul li:hover > a {color: #eee; background: red;}

.arrow {display: inline-block; margin: 0 5px 0; height: 0; vertical-align: top; content: ""; position: absolute;}
#mainmenu > li > a > .arrow {top: 17px; right: 0; margin-right: -8px; border-top: 3px solid #333; border-right: 3px solid transparent; border-left: 3px solid transparent;}
ul ul .arrow {top: 10px; right: 0; border-top: 3px solid transparent; border-right: 3px solid transparent; border-left: 3px solid #333; border-bottom: 3px solid transparent;}


/*MenuMobile*/

.menu-item{
  font-size:24px;
  color:white;

}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


.menu > ul {
  display:inline;
  margin-left:4%;

}

ul > li.limenu {
  margin-left:8.25%;
  width:100%;
  display:inline;
  font-family: Sf Pro Display; font-weight:400;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.1px;
  text-align: center;
  color: #3e3853;
}

/* Modal Styles */

.modalStyle{
margin-left:20%;
margin-right:30%;
width:570px;
position:fixed;
top:10%;
z-index: 9999;
background: #fff;
}

.Modal_inside{
  margin:10% 10% 10% 10%;
}


/*Input style*/

input.text 				{
  font-size:18px;
  padding:0px 10px 10px 5px;
  margin-top:55px;
  display:block;
  width:300px !important;
  font-family:SF Pro Display;
  font-weight:100 !important;
  border:none;
  border-bottom:1px solid #757575;
}
input.text:focus 		{ outline:none; }

input:-webkit-autofill{
  background-color:none !important;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
}
/* LABEL ======================================= */
label 				 {
 font-family:Sf Pro Display;
  font-weight:400;
  color:#999;
  font-size:18px !important;
  font-weight:lighter;
  position:absolute;
  pointer-events:none;
  margin-top:-60px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  font-size:12px !important;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:blue;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:35%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}


.submit_button{
  border-radius:8px;
  margin:5% 0 0% 0;
  width:140px;
  height:42px;
color: #fff;
background-color: #0069d9;
border-color: #0062cc;
}


.Test{
  width:1260px;
  margin:0 auto;
  margin-top:7%;
  height:100%;
}

.TestMobile{
  margin-top:35%;
}


@media only screen and (max-width: 600px){

  .Test{
      margin-top:35%;
  }

  .modalStyle{
    margin:0 auto;
    width:100%;

  }

}
